.vs\
AssemblyLearning/.vs/AssemblyLearning/v16/Browse.VC.opendb
AssemblyLearning/.vs/AssemblyLearning/v16/Browse.VC.db-shm
AssemblyLearning/.vs/AssemblyLearning/v16/Browse.VC.db-wal
AssemblyLearning/.vs/AssemblyLearning/v16/Browse.VC.db
